body{
    height: 100vh;
}
#hero-header{
    background-image: url('./images/h1_hero.png.webp');
    background-position: center center;
}
.orange-btn{
    background-color: #FF9F68;
}
/* .courses-row{
    margin-top: 380px !important;
} */
.header{
    gap: 200px;
}
.join-btn{
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, salmon 50%, lightblue 50%) right;
    background-size: 204%;
    transition: .5s ease-out;
}
.join-btn:hover {
    background-position: left;
}
.skills-icon{
    background: linear-gradient(to bottom, #eae2fe 0%, #a376ff 1%, #ea68ff 98%, #ec7dfe 99%, #f3f3fa 99%, #f4f5fa 100%) !important;
    height: 70px;
    width: 70px;
}
ul>li::marker{
    content: url('./images/right-icon.svg');
}

.expert-card{
    border: none;
}